body{
    font-family: Arial, sans-serif;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a0dad, #1e90ff);
    color: white;
}

#start-game-btn {
  background: linear-gradient(135deg, #6a0dad, #1e90ff);
  border: 2px solid white;
  color: white;
  font-size: 1.2rem;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
}

.container {
  
  padding: 20px;
}
.header { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.flex {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.word-guess {
  font-size: 1.5rem;
  margin: 20px 20px;
}